node_modules/
.pnpm-store/

# next
.next/
out/
next-env.d.ts

# build
dist/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# foundry
packages/contracts/out/
packages/contracts/cache/
packages/contracts/broadcast/

# misc
.DS_Store
*.log
